/* src/components/NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7ebef;
  padding: 10px 20px;
  color: white;
  width: 100%;
}

.navbar-logo img {
  height: 40px;
  width: auto;
}

.navbar-logo a {
  color: rgb(212, 167, 167);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: rgb(243, 39, 39);
  text-decoration: none;
  font-size: 1.1em;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}